@font-face {
  font-family: 'Gerstner';
  font-weight: normal;
  font-style: normal;
  src: url(../assets/types/GerstnerProgrammRegular.otf);
}

@font-face {
  font-family: 'Panama';
  font-weight: normal;
  font-style: normal;
  src: url(../assets/types/PanamaMonospace.otf);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

::selection {
  background: black;
  color: white;
}

:root {
  --header-height: 88px;
}

body {
  font-family: 'Gerstner', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h5, .related span.medium {
  font-family: 'Gerstner', sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  line-height: 100%;
}

p {
  font-family: 'Panama', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
}

.medium {
  font-size: 1.618rem;
  line-height: 120%;
}

.medium-large {
  font-size: 2.618rem;
}

.large {
  font-size: 4.236rem;
}

.x-large {
  font-size: 6.854rem;
}

.jumbo {
  font-size: 11.089rem;
}

.x-jumbo {
  font-size: 17.942rem;
}

.detail {
  font-size: 0.618rem;
  text-transform: uppercase;
}

::placeholder {
  opacity: .35;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  opacity: .35;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  opacity: .35;
}

.flex {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.logo-m {
  display: none;
}

img {
  display: block;
  max-width: 100%;
}

.fixed-mobile {
  display: none;
}

#composition {
  display: block;
  height: calc(100vh - 88px);
  width: 100%;
  background-color: orange;
}

#cookies {
  display: none;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: #000;
  color: #fff;
  z-index: 1010;
  height: 40px;
  width: 600px;
  line-height: 40px;
  padding: 0px 16px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#cookies a {
  text-decoration: underline;
}

#cookies .close {
  display: block;
  position: absolute;
  right: 16px;
  top: 13px;
  width: 12px;
  height: 12px;
}

#cookies .close img {
  width: 12px;
  /* margin-top: -28px; */
  margin-top: 2px;
  cursor: pointer;
}

#subscribe {
  display: none;
  position: fixed;
  right: 0px;
  bottom: 0px;
  background-color: #f2f2f2;
  z-index: 1003;
  height: auto;
  max-height: 200px;
  width: 500px;
  box-sizing: border-box;
  padding: 36px 22px 36px 24px;
  margin: auto;
}

#subscribe>.close {
  display: block;
  position: absolute;
  height: 13px;
  width: 13px;
  right: 16px;
  top: 16px;
  cursor: pointer;
  opacity: .5;
}

#subscribe>.close:hover {
  opacity: 1;
}

#subscribe>.close img {
  width: 13px;
  /* margin-top: -10px; */
}

#subscribe>.text {
  font-family: 'Panama', serif;
  font-size: 20px;
  display: block;
  line-height: 1.2;
}

#subscribe>.input-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  height: 40px;
  width: 100%;
}

#subscribe>.input-box>input {
  display: block;
  font-size: 20px;
  border: none;
  background-color: transparent;
  background-position: 50% 50%;
  outline: none !important;
  width: 95%;
}

#subscribe>.input-box>input.arrow {
  width: 5%;
}

#subscribe>.subtext {
  display: block;
  font-family: 'Gerstner', sans-serif;
  font-weight: normal;
  font-style: normal;
  opacity: .5;
  text-transform: none;
  font-size: 12px;
  line-height: 1.1;
  margin-top: .5rem;
  letter-spacing: .25px;
}

#submitSubscription {
  background-image: url("../img/right-arrow.svg");
  background-repeat: no-repeat;
  background-size: auto;
  cursor: pointer;
}

#blur {
  position: fixed;
  display: none;
  top: 0;
  opacity: 0.75;
  background-color: #000;
  height: 100vh;
  width: 100%;
  z-index: 1002;
  right: 0;
  left: 0;
}

#loader {
  opacity: 1;
  transition: opacity .3s ease-in-out;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  z-index: 1010;
  top: 0;
  bottom: 0;
}

#loader-bar {
  width: 0%;
  height: 2px;
  background-color: #000;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
}

#loader img {
  width: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation-name: flicker;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

@keyframes flicker {
  0% {
    opacity: .75;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .75;
  }
}

#about>.comp-one {
  display: block;
  width: 100%;
  position: relative;
  background-color: #fff;
}

#about>.comp-one::after {
  content: "";
  display: block;
  clear: both;
}

#about>.comp-one>.hero {
  position: sticky;
  top: 88px;
  color: #fff;
  mix-blend-mode: exclusion;
}

#about>.comp-one>.hero>.top {
  padding: 1px 0px;
  min-height: calc(50vh - 88px);
}

#about>.comp-one>.hero>.top::after {
  content: "";
  display: block;
  clear: both;
}

#about>.comp-one>.hero>.top>.copy {
  max-width: 940px;
  margin: 48px auto 0px;
  font-size: 67px;
  text-align: center;
  line-height: 60px;
  color: #FFFFFF;
}

#about>.comp-one>.hero>.top>.subcopy {
  max-width: 720px;
  margin: 0px auto 48px;
  font-size: 26px;
  text-align: center;
  line-height: 20px;
  font-family: 'Panama', serif;
}

#about>.comp-one>.hero>.left {
  width: 50%;
  padding: 16px;
  box-sizing: border-box;
}

#about>.comp-one>.hero>.left>p {
  font-family: 'Panama', serif;
  font-size: 26px;
}

#about>.comp-one>.bg {
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

#about>.comp-one>.bg>img {
  width: 100%;
}

#about>.comp-two {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

#about>.comp-two>.pic {
  flex: 0 0 auto;
  width: 35%;
  border: 1px solid #fff;
  border-left: 0px;
  box-sizing: border-box;
}

#about>.comp-two>.pic>img {
  width: 100%;
}

#about>.comp-four {
  display: block;
  width: 100%;
}

#about>.comp-four>img {
  width: 100%;
}

/* Live Sessions */

#live-sessions {
  overflow: hidden;
}

.session-module {
  position: relative;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-bottom: solid 1px black;
  overflow: visible;
  background-color: white;
  padding-bottom: 32px;
}

.session-module:hover {
  z-index: 100;
}

.session-module p, .p-top p {
  text-transform: uppercase;
  margin: 0;
}

.session-module .s-main p {
  text-transform: none;
}

.s-top, .p-top {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 16px 16px 0 16px;
}

p.status {
  color: black;
  background: deepskyblue;
  padding: 4px 16px 0 16px;
  border-radius: 16px;
  margin-bottom: 16px;
  font-size: 15px;
  margin-top: -3px;
}

.s-main h2, .s-main p, .session-info h1, .session-info p {
  text-align: center;
  margin: 0;
}

.s-main, .s-top {
  mix-blend-mode: exclusion;
  color: white;
}

.s-main p, .session-info p {
  max-width: 700px;
}

.session-module .s-img {
  position: absolute;
  z-index: 0;
  transform-origin: 50% 50%;
  /* -webkit-transform: translateX(50%) translateY(50%) scaleY(2);
  -moz-transform: translateX(50%) translateY(50%) scaleY(2);
  -o-transform: translateX(50%) translateY(50%) scaleY(2);
  transform: translateX(50%) translateY(50%) scaleY(2); */
  -webkit-transform: translateX(50%) translateY(-20%);
  -moz-transform: translateX(50%) translateY(-20%);
  -o-transform: translateX(50%) translateY(-20%);
  transform: translateX(50%) translateY(-20%);
  opacity: 0;
  max-width: 560px;
}

/* Temporary Styles */

.session-module.temp {
  padding-bottom: 0;
}

.session-module.temp .s-img {
  opacity: 1;
  max-width: none;
  z-index: 1;
  position: relative;
  order: 2;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
  width: 100%;
}

.session-module.temp .s-top {
  order: 0;
}

.session-module.temp .s-main {
  order: 1;
  padding-bottom: 32px;
}

.session-module .s-img img {
  display: block;
  height: auto;
  width: 100%;
}

.session-module.show .s-img {
  /* -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; */
  opacity: 1;
  /* -webkit-transform: translateX(50%) translateY(-20%) scaleY(1);
  -moz-transform: translateX(50%) translateY(-20%) scaleY(1);
  -o-transform: translateX(50%) translateY(-20%) scaleY(1);
  transform: translateX(50%) translateY(-20%) scaleY(1); */
}

.s-main.tba {
  opacity: .35;
}

/* Video */

#video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

#video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.session-info {
  padding: 40px 0;
}

.session-info p {
  display: block;
  margin: 0 auto;
}

.session-desc {
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  padding: 0 32px;
  margin-bottom: 80px;
}

.session-desc p {
  margin: 0;
  max-width: 80%;
}

.session-desc .right {
  width: 50%;
  display: -webkit-flex;
  display: flex;
}

.social-share {
  padding-right: 16px;
}

.social-share li {
  width: 16px;
}

.social-share img {
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  filter: invert(1);
  margin-bottom: 8px;
  width: 100%;
}

.social-share li:last-child img {
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  filter: none;
}

/* Related Sessions */

.related-sessions {
  position: relative;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.related-sessions span {
  font-family: 'Panama', serif;
  font-style: normal;
  font-weight: normal;
}

.related {
  width: 25%;
  margin-bottom: 32px;
}

span.date {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

span.info {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 16px;
}

span.info span.medium {
  margin-bottom: 8px;
}

/* Projects */

#projects {
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.project {
  width: calc(33.33% + 1px);
  overflow: hidden;
  border: solid 1px #000;
  cursor: pointer;
  margin-left: -1px;
  margin-top: -1px;
  -webkit-transition: width .4s cubic-bezier(.645, .045, .355, 1);
  -moz-transition: width .4s cubic-bezier(.645, .045, .355, 1);
  -o-transition: width .4s cubic-bezier(.645, .045, .355, 1);
  transition: width .4s cubic-bezier(.645, .045, .355, 1);
}

.project.active {
  width: 66.80%;
}

.project.inactive {
  width: 16.66%;
}

.project:nth-child(3n+0) {
  border-right-width: 0;
}

.p-info {
  text-align: center;
  padding: 0 32px;
}

.p-info h2 {
  margin-bottom: 0;
}

.p-info p {
  text-transform: none;
  margin-top: 0;
}

.p-thumb {
  opacity: 1;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  transform-origin: 50% 50%;
  -webkit-transition: transform .4s cubic-bezier(.645, .045, .355, 1);
  -moz-transition: transform .4s cubic-bezier(.645, .045, .355, 1);
  -o-transition: transform .4s cubic-bezier(.645, .045, .355, 1);
  transition: transform .4s cubic-bezier(.645, .045, .355, 1);
}

.project.active .p-thumb {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.p-thumb a {
  position: relative;
  display: block;
}

.p-thumb a .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: white;
  background: black;
  font-size: 14px;
  letter-spacing: .5px;
  border-radius: 40px;
  padding: 2px 8px;
}

/* Project Modules */

.fullwidth-image {
  display: block;
  width: 100%;
  height: inherit;
}

.fullwidth-image img, .half img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.half {
  width: 50%;
  position: relative;
  padding: .5px;
}

.padding {
  padding: 1rem;
}

.half h2, .half p {
  margin: 0;
}

.half .social-share {
  position: absolute;
  top: 16px;
  right: 16px;
}

.title-left-text-right {
  min-height: 25vh;
}

.half p {
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 960px) {
  .large {
    font-size: 3.236rem;
  }
  .medium {
    font-size: 1.25rem;
  }
  .medium-large {
    font-size: 2rem;
  }
  .s-main p {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    max-width: 500px;
  }
  .related {
    width: 33.33%;
  }
  .related:last-child {
    display: none;
  }
  .project p {
    font-size: .75rem;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .logo-m {
    display: block;
  }
  .logo-d {
    display: none;
  }
  .large {
    font-size: 2.236rem;
  }
  .medium-large {
    font-size: 1.618rem;
    line-height: 108%;
  }
  .fixed-mobile {
    display: block;
    position: fixed;
    bottom: 15px;
    left: 50%;
    z-index: 1001;
    background: black;
    color: white;
    padding: 2px 10px;
    text-align: center;
    border-radius: 100px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  #subscribe {
    max-height: 250px;
    width: 90%;
  }
  #content, #session-detail, #projects, #project {
    margin-top: 60px;
  }
  #menu-mobile {
    display: none;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    top: 60px;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
    height: calc(100% - 59px);
  }
  #menu-mobile>ul {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 28px;
    font-size: 16px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
  }
  #menu-mobile>ul>li {
    text-transform: uppercase;
    letter-spacing: .5px;
    border-bottom: solid 1px #000;
    flex-basis: 100%;
  }
  #menu-mobile>ul>li.socials {
    border-bottom: none;
    padding-bottom: 16px;
    padding-left: 8px;
    flex-basis: 50%;
  }
  #menu-mobile>ul>li>a, #menu-mobile>ul>li>span.disabled, #menu-mobile>ul>li>span.subscribe {
    display: block;
    padding: 8px;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #menu-mobile>ul>li span.subscribe {
    background-color: #f1f2f2;
  }
  #menu-mobile>ul>li>span.disabled>.menuitem {
    opacity: .25;
  }
  #menu-mobile>.close {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 59px;
    width: 60px;
    position: absolute;
    right: 0;
    top: -60px;
    background-color: #fff;
  }
  #menu-mobile>.close>img {
    width: 16px;
    padding: 5px;
    box-sizing: content-box;
  }
  #menu-mobile>ul>li span.mobiletooltip, #menu-mobile>ul>li span.soontooltip {
    background: black;
    color: white;
    font-size: 10px;
    border-radius: 20px;
    padding: 0 5px;
    display: inline-block;
    vertical-align: text-top;
    height: 18px;
    line-height: 18px;
    margin-left: 8px;
  }
  .socials {
    margin-top: 16px;
  }
  #menu-mobile .icon {
    flex-basis: 100%;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  #menu-mobile .icon img {
    height: 20px;
  }
  header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #fff;
    border-bottom: 1px solid #000;
    overflow: hidden;
  }
  header>.nav {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 0 16px;
  }
  /* header>.nav>.logo {
    display: inline-flex;
    width: auto;
    height: 13px;
    margin: 0;
  } */
  header>.nav>.logo>img {
    height: 100%;
  }
  .logo>a>img {
    width: 100%;
  }
  header>.nav>.burguer {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 60px;
    height: 100%;
    right: 0;
    top: 0;
  }
  header>.nav>.burguer>img {
    width: 20px;
  }
  header>.menu {
    display: none;
  }
  header>.menu>ul {
    display: flex;
    align-items: stretch;
    /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  header>.menu>ul>li {
    display: block;
    flex: 0 1 auto;
    /* Default */
    list-style-type: none;
    letter-spacing: .5px;
    padding: 0 8px;
  }
  header>.menu>ul>li>a {
    cursor: pointer;
  }
  header>.menu>ul>li>span.disabled {
    cursor: pointer;
  }
  header>.menu>ul>li>span.disabled>.menuitem {
    opacity: .25;
  }
  header>.menu>ul>li>span.disabled.soon:hover .soontooltip {
    display: block;
  }
  header>.menu>ul>li>span.disabled .soontooltip {
    display: none;
    background: #C8C8C8;
    margin-left: -16px;
    position: absolute;
    z-index: 1000;
    width: 60px;
    height: 21px;
    margin-top: -30px;
    text-align: center;
    line-height: 22px;
    border-radius: 21px;
    background-color: #000;
    color: #fff;
    pointer-events: none;
  }
  header>.menu>ul>li>span.disabled .soontooltip::before {
    display: block;
    width: 8px;
    height: 8px;
    background-color: #000;
    content: '';
    position: absolute;
    transform: rotate(45deg);
    position: absolute;
    top: 17px;
    left: 13px;
  }
  header>.menu>ul>li>span.subscribe {
    background-color: #f2f2f2;
    padding: 1px 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  header>.menu>ul>li>span.icon {
    height: 16px;
    position: relative;
    margin-right: 12px;
  }
  header>.menu>ul>li>span.icon img {
    height: 16px;
    position: relative;
    margin-top: -4px;
  }
  header>.menu>ul>li>span.icon:nth-child(2) {
    margin-right: 9px;
  }
  header>.menu>ul>li>span.icon:last-child {
    margin-right: 0px;
  }
  li.socials {
    display: -webkit-flex;
    display: flex;
    align-items: center;
  }
  footer {
    display: flex;
    height: 35px;
    line-height: 34px;
    box-sizing: border-box;
    padding: 0px 10px;
    overflow: hidden;
    font-size: 12px;
    text-transform: uppercase !important;
    justify-content: space-between;
  }
  footer>.left, footer>.right {
    width: inherit;
  }
  footer>.right {
    text-align: right;
    opacity: .5;
    text-transform: uppercase;
    font-size: 12px;
  }
  #contact {
    display: block;
    height: auto;
  }
  #contact>.left, #contact>.right {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  #contact>.left {
    padding: 20px 10px;
    display: block;
    border-right: none;
    border-bottom: 1px solid #000;
  }
  #contact>.right {
    height: calc(100vh - 75px);
    position: relative;
  }
  #contact>.left>.info-block {
    margin-bottom: 50px;
  }
  #contact>.left>.info-block:last-child {
    margin-bottom: 0;
  }
  #contact>.left>.info-block>h1 {
    font-size: 26px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 24px;
    padding: 0px;
    margin: 0px;
    display: block;
    width: 100%;
    position: relative;
  }
  #contact>.left>.info-block>h2 {
    font-size: 26px;
    font-weight: normal;
    font-family: 'Panama', serif;
    line-height: 24px;
    padding: 0px;
    margin: 10px 0;
    width: 100%;
    position: relative;
  }
  #about>.comp-one {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    height: auto !important;
  }
  #about>.comp-one::after {
    content: "";
    display: block;
    clear: both;
  }
  #about>.comp-one>.hero {
    position: relative;
    top: 0;
    color: #fff;
    mix-blend-mode: exclusion;
  }
  #about>.comp-one>.hero>.top {
    padding: 1px 0px;
    min-height: calc(50vh - 88px);
  }
  #about>.comp-one>.hero>.top::after {
    content: "";
    display: block;
    clear: both;
  }
  #about>.comp-one>.hero>.top>.copy {
    max-width: 100%;
    margin: 48px auto 0px;
    font-size: 42px;
    text-align: center;
    line-height: 42px;
    color: #FFFFFF;
  }
  #about>.comp-one>.hero>.top>.subcopy {
    max-width: 720px;
    margin: 10px auto 48px;
    font-size: 26px;
    text-align: center;
    line-height: 100%;
    font-family: 'Panama', serif;
  }
  #about>.comp-one>.hero>.left {
    width: 50%;
    padding: 16px;
    box-sizing: border-box;
    display: none;
  }
  #about>.comp-one>.hero>.left>p {
    font-family: 'Panama', serif;
    font-size: 26px;
  }
  #about>.comp-one>.bg {
    width: 100%;
    position: relative;
    right: 0;
    top: 0;
  }
  #about>.comp-one>.bg>img {
    width: 100%;
  }
  #about>.comp-two {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  #about>.comp-two>.pic {
    flex: 0 0 auto;
    width: 75%;
    border: 1px solid #fff;
    border-left: 0px;
    box-sizing: border-box;
  }
  #about>.comp-two>.pic>img {
    width: 100%;
  }
  #about>.comp-three>.left, #about>.comp-three>.right {
    display: block;
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 48px 18px;
  }
  #about>.comp-three>.left {
    padding-bottom: 9px;
  }
  #about>.comp-three>.right {
    padding-top: 9px;
  }
  #about>.comp-three::after {
    content: "";
    display: block;
    clear: both;
  }
  #about>.comp-three>.left>h2 {
    margin: 0;
    padding: 0;
  }
  #about>.comp-three>.right>p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Panama', serif;
    line-height: 22px;
  }
  #about>.comp-four {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  #about>.comp-four::after {
    content: "";
    display: block;
    clear: both;
  }
  #about>.comp-four>.left, #about>.comp-four>.right {
    display: block;
    width: 100%;
    height: 100vw;
    box-sizing: border-box;
    float: left;
  }
  #about>.comp-four>.left {
    border-right: none;
    border-bottom: 1px solid #fff;
  }
  #about>.comp-four>.left>img, #about>.comp-four>.right>img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
  .main-carousel {
    margin-top: 1px;
  }
  .carousel-cell {
    width: 75%;
    /* half-width */
    height: auto;
    margin-right: 1px;
  }
  .carousel-cell img {
    width: 100%;
  }
  #cookies {
    height: inherit;
    width: auto;
    line-height: 1.2;
    padding: 16px 16px;
  }
  #cookies .close {
    display: -webkit-flex;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  #cookies .close img {
    width: 12px;
    margin-top: 0;
  }
  /* Mobile Live Sessions */
  .session-module {
    padding-bottom: 24px;
  }
  .session-module .s-img {
    position: relative;
    z-index: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
    transform: none;
    opacity: 1;
    width: 100%;
  }
  .s-main p {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    max-width: 350px;
  }
  .session-desc .right {
    width: 100%;
  }
  .social-share li {
    width: 18px;
  }
  .session-desc p {
    max-width: none;
  }
  .social-share img {
    margin-bottom: 16px;
    margin-top: 4px;
  }
  .related {
    width: 50%;
  }
  .related:nth-child(3) {
    display: none;
  }
  .half {
    width: 100%;
  }
  .project {
    width: 100%;
    border-right: 0 !important;
  }
  .p-thumb {
    opacity: 1;
  }
  .half .social-share {
    position: relative;
    top: auto;
    right: auto;
  }
  .half .social-share li {
    display: inline-block;
    margin-right: 8px;
    margin-top: 16px;
  }
  .project.active, .project.inactive {
    width: 100% !important;
  }
  .project .p-thumb {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
  }
  .p-thumb a .btn {
    display: none;
  }
  /* Temporary Mobile styles */
  .session-module.temp .s-main p {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
    margin-top: 8px;
  }
  .session-module.temp .s-img {
    height: 60vh;
  }
  .session-module.temp .s-img img {
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (min-width: 769px) {
  .main-carousel {
    margin-top: 1px;
  }
  .carousel-cell {
    width: 35%;
    /* half-width */
    height: auto;
    margin-right: 1px;
  }
  .carousel-cell img {
    width: 100%;
  }
  #menu-mobile {
    display: none !important;
  }
  header {
    width: 100%;
    height: var(--header-height);
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
  }
  header>.nav {
    display: block;
    width: 100%;
    height: 53px;
    text-align: center;
  }
  header>.nav>.logo {
    display: inline-flex;
    width: auto;
    height: 19px;
    margin: 0 auto;
    margin-top: 16px;
  }
  header>.nav>.logo>img {
    height: 100%;
  }
  header>.nav>.burguer {
    display: none;
  }
  header>.menu {
    display: block;
    width: 100%;
    height: 35px;
    /* line-height: 35px; */
    box-sizing: border-box;
    padding: 0px 16px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 13px;
  }
  header>.menu>ul {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    /* Default */
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  header>.menu>ul>li {
    display: block;
    flex: 0 1 auto;
    /* Default */
    list-style-type: none;
    letter-spacing: .5px;
  }
  header>.menu>ul>li:last-child {
    display: -webkit-flex;
    display: flex;
    align-items: center;
  }
  header>.menu>ul>li>a {
    cursor: pointer;
    padding: 0 8px 1px 8px;
    border-radius: 32px;
  }
  header>.menu>ul>li:hover a {
    background: black;
    color: white;
  }
  header>.menu>ul>li>span.disabled {
    cursor: pointer;
  }
  header>.menu>ul>li>span.disabled>.menuitem {
    opacity: .25;
  }
  header>.menu>ul>li>span.disabled.soon:hover .soontooltip {
    display: block;
  }
  header>.menu>ul>li>span.disabled .soontooltip {
    display: none;
    background: #C8C8C8;
    margin-left: -16px;
    position: absolute;
    z-index: 1000;
    width: 60px;
    height: 21px;
    margin-top: -30px;
    text-align: center;
    line-height: 22px;
    border-radius: 21px;
    background-color: #000;
    color: #fff;
    pointer-events: none;
  }
  header>.menu>ul>li>span.disabled .soontooltip::before {
    display: block;
    width: 8px;
    height: 8px;
    background-color: #000;
    content: '';
    position: absolute;
    transform: rotate(45deg);
    position: absolute;
    top: 17px;
    left: 13px;
  }
  header>.menu>ul>li>span.subscribe {
    background-color: #f2f2f2;
    padding: 1px 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  header>.menu>ul>li>span.subscribe:hover {
    background-color: #000;
    color: #fff;
  }
  header>.menu>ul>li>span.icon {
    height: 16px;
    position: relative;
    margin-right: 22px;
  }
  header>.menu>ul>li>span.icon img {
    height: 16px;
    position: relative;
    /* margin-top: -4px; */
  }
  /* header>.menu>ul>li>span.icon:nth-child(2) {
    margin-right: 9px;
  } */
  header>.menu>ul>li>span.icon:last-child {
    margin-right: 0px;
  }
  footer {
    display: flex;
    height: 35px;
    line-height: 34px;
    box-sizing: border-box;
    padding: 0px 16px;
    overflow: hidden;
    font-size: 16px;
  }
  footer>.left, footer>.right {
    width: 50%;
    font-size: 13px;
    text-transform: uppercase;
  }
  footer>.right {
    text-align: right;
    opacity: .5;
  }
  #contact {
    display: flex;
    height: calc(100vh - 123px);
  }
  #contact>.left, #contact>.right {
    display: flex;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
  }
  #contact>.left {
    padding: 25px;
    display: block;
    border-right: 1px solid #000;
  }
  #contact>.left>.info-block {
    margin-bottom: 50px;
  }
  #contact>.left>.info-block>h1 {
    font-size: 42px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 40px;
    padding: 0px;
    margin: 0px;
    display: block;
    width: 100%;
    position: relative;
  }
  #contact>.left>.info-block>h2 {
    font-size: 42px;
    font-weight: normal;
    font-family: 'Panama', serif;
    line-height: 40px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    position: relative;
  }
  #about>.comp-one {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 100vh;
  }
  #about>.comp-one::after {
    content: "";
    display: block;
    clear: both;
  }
  #about>.comp-one>.hero {
    position: sticky;
    top: 88px;
    color: #fff;
    mix-blend-mode: exclusion;
  }
  #about>.comp-one>.hero>.top {
    padding: 1px 0px;
    min-height: calc(50vh - 88px);
  }
  #about>.comp-one>.hero>.top::after {
    content: "";
    display: block;
    clear: both;
  }
  #about>.comp-one>.hero>.top>.subcopy {
    max-width: 720px;
    margin: 0px auto 48px;
    font-size: 26px;
    text-align: center;
    line-height: 20px;
    font-family: 'Panama', serif;
  }
  #about>.comp-one>.hero>.left {
    width: 50%;
    padding: 16px;
    box-sizing: border-box;
  }
  #about>.comp-one>.hero>.left>p {
    font-family: 'Panama', serif;
    font-size: 26px;
  }
  #about>.comp-one>.bg {
    width: 50%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
  }
  #about>.comp-one>.bg>img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: center center;
  }
  #about>.comp-three>.left, #about>.comp-three>.right {
    display: block;
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 56px 56px 56px 16px;
  }
  #about>.comp-three::after {
    content: "";
    display: block;
    clear: both;
  }
  #about>.comp-three>.left>h2 {
    margin: 0;
    padding: 0;
  }
  #about>.comp-three>.right>p {
    margin: 0;
    padding: 0;
  }
  #about>.comp-four {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  #about>.comp-four::after {
    content: "";
    display: block;
    clear: both;
  }
  #about>.comp-four>.left, #about>.comp-four>.right {
    display: block;
    width: 50%;
    height: 50vw;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
  }
  #about>.comp-four>.left {
    border-right: 1px solid #fff;
  }
  #about>.comp-four>.left>img, #about>.comp-four>.right>img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
  #about>.comp-four>.left>img {
    border-bottom: 1px solid #000;
  }
}

@media only screen and (max-width: 320px) {
  header>.nav>.logo {
    display: inline-flex;
    width: auto;
    height: 13px;
    margin: 0 auto;
    margin-top: 8px;
  }
  header>.nav>.logo>img {
    height: 100%;
  }
  .logo>a>img {
    width: 260px;
  }
}